<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
 <style type="text/css">

        #container{
            
            margin-left: 10px;
        }

    </style>
</head>
<body>
<div th:replace="fragments/menu :: menu"></div>
<div id="container" style= "margin-left: 10px;">

       <form action="/tpvppademo/pruebas/tpvamspago" method="POST">

        <div id="menu"></div>
        <div id="izquierda">
            <div id="eti" style= "margin-left: 5px;"><label>Importe</label><input type="text" name="importe" style= "margin-left: 10px;"></div>
            <div id="eti" style= "margin-left: 5px;"><label>TipoMoneda</label><input type="text" name="tipoMoneda" value="978" style= "margin-left: 10px;"></div>
            <div id="eti" style= "margin-left: 5px;"><label>UrlOk</label><input type="text" name="urlOk" style= "margin-left: 10px;"></div>
            <div id="eti" style= "margin-left: 5px;"><label>UrlNok</label><input type="text" name="urlNok" style= "margin-left: 10px;"></div>
            <div id="eti" style= "margin-left: 5px;"><label>Idioma</label><input type="text" name="idioma" value="1" style= "margin-left: 10px;"></div>
            <div id="eti" style= "margin-left: 5px;"><label>Descripcion</label><input type="text" name="descripcion" style= "margin-left: 10px;"></div>

        </div>
        <div id="derecha">
            <div id="etiCampo"> </div>
      
            <div id="etiCampo"> </div>
         
            <div id="etiCampo"> </div>
         
             <div id="etiCampo"> </div>
           
             <div id="etiCampo"> </div>
          
            <div id="etiCampo"> </div>

        </div>
       <div id="pie" style= "margin-left: 5px;"> <input type="submit" value="Pagar"/></div>
      
       
    </form>
</div>
</body>
</html>
