<head th:fragment="header">
<meta charset="UTF-8" />
<meta
    name="description"
    content="" />
<meta
    name="viewport"
    content="width=device-width" />
<title>Gobierno de Aragón - TPV PPA DEMO</title>
<link
    rel="icon"
    type="image/png"
    th:href="@{/images/favicon.png}" />
<!-- Styles -->
<link
    rel="stylesheet"
    th:href="@{/styles/custom/bootstrap.min.css}" />
<link
    rel="stylesheet"
    th:href="@{/styles/custom/bootstrap-datetimepicker.min.css}" />
<link
    rel="stylesheet"
    th:href="@{/styles/custom/font-awesome.css}" />
<link
    rel="stylesheet"
    th:href="@{/styles/main.css}" />
<link
    rel="stylesheet"
    th:href="@{/styles/estilos.css}" />

</head>