<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="menu">
    <header class="header-small">
        <img alt="Logo" th:src="@{/images/logo-horizontal.svg}" />
        <form
            class="user"
            th:action="@{/logout}"
            method="get">
            <div
                class="user-opt-lay"
                sec:authorize="isAuthenticated()">
                <div class="user-opt user-opt-info">
                    <span sec:authentication="name"></span>
                </div>
                <div class="user-opt user-opt-logout">
                    <a th:href="@{/logout}">Logout</a>
                </div>
            </div>
            <img
            	alt="Usuario"
                class="user-opt-img"
                th:src="@{/images/icons/user.svg}" />
        </form>
    </header>
    <header class="header-small">
        <div class="header-left">
            <img alt="Logo" th:src="@{/images/logo-horizontal.svg}" />
        </div>
        <div class="header-center">
            <span class="app-name">TPV PPA DEMO</span>
        </div>
        <div class="header-right">
            <img alt="Logo" th:src="@{/images/FondosFeder.png}" style="height : 65px;"/>
        </div>
    </header>
    <div class="layout title">
        <div
            class="menu menu-only-user"
            id="nav-menu">
            <div class="menu-items">
                <div class="menu-layout">
                    <div class="icons-layout">
                        <div
                            class="close-icon"
                            id="mobile-close">
                            <img alt="Cerrar" th:src="@{/images/icons/close-w.svg}" />
                        </div>
                        <div class="return-icon">
                            <img alt="Volver" th:src="@{/images/icons/return-w.svg}" />
                        </div>
                    </div>

                </div>
            </div>
            <form
                class="user"
                th:action="@{/logout}"
                method="get">
                <div
                    class="user-opt-lay"
                    sec:authorize="isAuthenticated()">
                    <div class="user-opt user-opt-info">
                        <span
                            style="text-transform: lowercase"
                            sec:authentication="name"></span>
                    </div>
                    <div class="user-opt user-opt-logout">
                        <a th:href="@{/logout}">Desconectar</a>
                    </div>
                </div>
                <img
                	alt="Usuario"
                    class="user-opt-img"
                    th:src="@{/images/icons/user.svg}" />
            </form>
        </div>
    </div>
    <div
        class="menu-icon"
        id="mobile-menu">
        <img alt="menu" th:src="@{/images/icons/menu.svg}" />
    </div>
</div>
</html>