<!DOCTYPE html>
<html lang="en">
<head>
<link th:replace="fragments/header :: header" />
</head>
<body
    class="no-menu">
    <div th:replace="fragments/menu :: menu"></div>
    <section>
        <h1>Error</h1>
        <div class="layout-btn centered">
            <label>Se ha producido un error al intentar cargar la página.</label>
            <p />
            <p>Se ha producido un error. Vuelva a intentarlo y si se sigue produciendo, contacte con su administrador.</p>
            <p>Disculpe las molestias.</p>
        </div>
    </section>
</body>
</html>